# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
.venv/
env/
.env/

# IDE specific
.idea/
.vscode/

cloud-access-key.json/
cloud-access-key.json